*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10%;
}
.nav .burger-btn {
  position: relative;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: none;
  border: 1px solid transparent;
  z-index: 1000;
  cursor: pointer;
}
.nav .burger-btn:hover .burger-btn__bars::after,
.nav .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.nav .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  position: absolute;
  left: 0;
  height: 3px;
  content: "";
  background-color: #da2a2a;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.nav .burger-btn__bars {
  width: 100%;
}
.nav .burger-btn__bars::after {
  top: 13px;
  width: 50%;
}
.nav .burger-btn__bars::before {
  top: 27px;
  width: 30%;
}
.nav__items {
  display: none;
  position: relative;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.nav__item {
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2.8rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__item:hover {
  background-color: #da2a2a;
}
.nav__title {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4.8rem;
  text-transform: uppercase;
}
.nav__mobile {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, rgb(39, 47, 59), rgb(32, 27, 59));
  z-index: 100;
}
.nav__mobile--item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav__mobile--item:hover {
  background-color: #da2a2a;
}
.nav__mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav--active {
  background-color: rgba(58, 55, 55, 0.6901960784);
  -webkit-box-shadow: 0px 14px 24px -19px rgb(66, 68, 90);
          box-shadow: 0px 14px 24px -19px rgb(66, 68, 90);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
}
.header__video {
  position: absolute;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.header__blur {
  position: absolute;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(58, 55, 55, 0.2117647059);
  z-index: -1;
}
.header__text {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: white;
}
.header__heading {
  font-size: 4.8rem;
  padding: 5px 10px;
  margin: 30px;
  background-color: #3a3737;
  color: white;
  text-transform: uppercase;
}
.header__button {
  padding: 10px 20px;
  margin-bottom: 5em;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  color: white;
  background-color: #da2a2a;
  cursor: pointer;
}
.header__button:hover {
  color: #da2a2a;
  background-color: white;
}

.skis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7em;
}
.skis .arrow {
  position: absolute;
  top: 200%;
  padding: 20px;
  font-size: 2.4rem;
  cursor: pointer;
}
.skis .arrow_prev {
  left: 5%;
}
.skis .arrow_next {
  right: 5%;
}
.skis .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
.skis__heading {
  padding: 5px 10px;
  margin: 30px;
  font-size: 4.8rem;
  color: white;
  background-color: #3a3737;
  text-transform: uppercase;
}
.skis__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skis__card {
  position: relative;
  margin: 30px;
}
.skis__card img {
  width: 100%;
}
.skis__infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skis__infoBox .name {
  padding: 10px 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.skis__infoBox a {
  color: white;
  padding: 10px 30px;
  margin: 10px;
  font-size: 2.4rem;
  font-weight: 500;
  background-color: #da2a2a;
  text-transform: uppercase;
  text-decoration: none;
}
.skis__infoBox a:hover {
  background-color: black;
}

.section_line {
  position: relative;
  left: 50%;
  width: 80%;
  height: 2px;
  margin-top: 40px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: black;
}

.ourSkis {
  background-color: rgb(233, 230, 230);
  padding-bottom: 100px;
}
.ourSkis .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
}
.ourSkis__container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ourSkis__heading {
  font-size: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.ourSkis__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ourSkis__left {
  margin: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ourSkis__left p {
  margin-bottom: 40px;
  font-size: 2.4rem;
  letter-spacing: 5px;
}
.ourSkis__left a {
  padding: 10px 30px;
  font-size: 2.4rem;
  color: white;
  background-color: #da2a2a;
  text-transform: uppercase;
  text-decoration: none;
}
.ourSkis__left a:hover {
  background-color: black;
}
.ourSkis__right {
  margin: 40px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.ourSkis__img {
  padding: 20px;
  width: 80vh;
  overflow: hidden;
}
.ourSkis__img button {
  position: relative;
  bottom: 100px;
  left: -40px;
  padding: 10px 30px;
  font-size: 2.4rem;
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
}
.ourSkis__img:hover button {
  background-color: #da2a2a;
}
.ourSkis__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.ourSkis img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team {
  background-color: #3a3737;
}
.team .wrapper {
  width: 100%;
  max-width: 1800px;
}
.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
}
.team__left {
  width: 100%;
  height: 100%;
  background-image: url(/img/team.webp);
  background-size: cover;
}
.team__left--mobile {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 55, 55, 0.6156862745);
}
.team__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.team__right h2 {
  font-size: 4.8rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.team__right p {
  margin: 50px;
  color: white;
  font-size: 2.4rem;
  letter-spacing: 5px;
}
.team__right button {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 2.4rem;
  background-color: #da2a2a;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.team__right button:hover {
  background-color: white;
  color: #da2a2a;
}

.gallery {
  padding-top: 100px;
  background-color: #3a3737;
}
.gallery__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  text-align: center;
}
.gallery__info h2 {
  background-color: white;
  margin-bottom: 20px;
  font-size: 4.8rem;
  padding: 5px;
  text-transform: uppercase;
}
.gallery__info p {
  font-size: 2.4rem;
  letter-spacing: 5px;
  color: white;
}
.gallery__container {
  width: 100%;
  height: 100%;
}
.gallery .big {
  height: 30%;
}
.gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0 10px 0 10px;
}
.gallery__column img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery__column img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery__img-card {
  overflow: hidden;
  width: 100%;
  margin: 10px;
}

.footer {
  padding: 100px 0;
  background-color: black;
  color: white;
}
.footer__information {
  padding: 50px;
}
.footer__information p {
  text-transform: uppercase;
  padding: 10px;
}
.footer__information p::before {
  position: relative;
  top: 20px;
  left: -20px;
  content: "";
  display: block;
  height: 20px;
  width: 2px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: #da2a2a;
}
.footer__social {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer__social h2 {
  margin-bottom: 20px;
  font-size: 4.8rem;
  text-transform: uppercase;
}
.footer__social p {
  margin-bottom: 70px;
  letter-spacing: 3px;
}
.footer__social a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
.footer__orders-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}
.footer__orders-details p {
  padding: 20px 0;
  text-transform: uppercase;
}
.footer__orders-details--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer__orders-details--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer__contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}
.footer__contact p {
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.footer__contact input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  background: none;
  border: 1px solid #3a3737;
  font-size: 1.8rem;
  color: white;
}
.footer__contact:focus {
  border: none;
}
.footer__contact button {
  padding: 15px 30px;
  margin: 20px 0;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background-color: #da2a2a;
}
.footer__note {
  font-size: 1rem;
  color: #7a7575;
}

@media (min-width: 400px) {
  .skis .arrow {
    top: 150%;
  }
}
@media (min-width: 576px) {
  .nav__mobile {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
  }
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__information p {
    padding: 40px;
    font-size: 1.8rem;
  }
}
@media (min-width: 1100px) {
  .nav .burger-btn {
    display: none;
  }
  .nav__items {
    display: inline-block;
  }
  .ourSkis__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ourSkis__img {
    width: 45vh;
  }
  .team__left {
    width: 50%;
    height: 100%;
    background-image: url(/img/team.webp);
    background-size: cover;
  }
  .team__left--mobile {
    display: none;
  }
  .team__right {
    display: block;
    position: static;
    width: 50%;
    margin: 300px 50px 0 50px;
  }
  .team h2 {
    font-size: 4.8rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .team p {
    margin: 0;
    color: white;
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=main.css.map */