*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

//nav

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10%;

  .burger-btn {
    position: relative;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: 1px solid transparent;
    z-index: 1000;
    cursor: pointer;

    // &:focus {
    //   outline: none;
    //   border: 1px solid rgba(255, 255, 255, 0.5);
    //   border-radius: 8px;
    // }

    &:hover {
      .burger-btn__bars::after,
      .burger-btn__bars::before {
        width: 100%;
      }
    }

    &__box {
      position: relative;
      width: 40px;
      height: 30px;
    }
    &__bars,
    &__bars::after,
    &__bars::before {
      position: absolute;
      left: 0;
      height: 3px;
      content: "";
      background-color: #da2a2a;
      transition: width 0.3s;
    }
    &__bars {
      width: 100%;
      &::after {
        top: 13px;
        width: 50%;
      }
      &::before {
        top: 27px;
        width: 30%;
      }
    }
  }

  &__items {
    display: none;
    position: relative;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__item {
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: #da2a2a;
    }
  }

  &__title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.8rem;
    text-transform: uppercase;
  }

  &__mobile {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-image: linear-gradient(45deg, rgb(39, 47, 59), rgb(32, 27, 59));
    z-index: 100;
    &--item {
      position: relative;
      display: block;
      margin: 0.5em 0;
      padding: 0.5em 2em;
      font-size: 2.8rem;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:hover {
        background-color: #da2a2a;
      }
    }
    &--active {
      transform: translateX(0);
    }
  }

  &--active {
    background-color: #3a3737b0;
    box-shadow: 0px 14px 24px -19px rgba(66, 68, 90, 1);
  }
}

//header

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  height: 100vh;

  &__video {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  &__blur {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #3a373736;
    z-index: -1;
  }

  &__text {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: white;
  }

  &__heading {
    font-size: 4.8rem;
    padding: 5px 10px;
    margin: 30px;
    background-color: #3a3737;
    color: white;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 20px;
    margin-bottom: 5em;
    font-size: 2.4rem;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #da2a2a;
    cursor: pointer;
  }
}

//skis

.skis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
  &__heading {
    padding: 5px 10px;
    margin: 30px;
    font-size: 4.8rem;
    color: white;
    background-color: #3a3737;
    text-transform: uppercase;
  }

  input {
    display: none;
  }

  &__container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    margin-bottom: 100px;

    #s1:checked ~ .cards #slide4,
    #s2:checked ~ .cards #slide5,
    #s3:checked ~ .cards #slide1,
    #s4:checked ~ .cards #slide2,
    #s5:checked ~ .cards #slide3 {
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
      transform: translate3d(-70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }

    #s1:checked ~ .cards #slide5,
    #s2:checked ~ .cards #slide1,
    #s3:checked ~ .cards #slide2,
    #s4:checked ~ .cards #slide3,
    #s5:checked ~ .cards #slide4 {
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
      transform: translate3d(-35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }

    #s1:checked ~ .cards #slide1,
    #s2:checked ~ .cards #slide2,
    #s3:checked ~ .cards #slide3,
    #s4:checked ~ .cards #slide4,
    #s5:checked ~ .cards #slide5 {
      box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
      transform: translate3d(0, 0, 0);
      --current-color1: #fad00c;
      --current-color2: #eceaed;
    }

    #s1:checked ~ .cards #slide2,
    #s2:checked ~ .cards #slide3,
    #s3:checked ~ .cards #slide4,
    #s4:checked ~ .cards #slide5,
    #s5:checked ~ .cards #slide1 {
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
      transform: translate3d(35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }

    #s1:checked ~ .cards #slide3,
    #s2:checked ~ .cards #slide4,
    #s3:checked ~ .cards #slide5,
    #s4:checked ~ .cards #slide1,
    #s5:checked ~ .cards #slide2 {
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
      transform: translate3d(70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  }

  &__cards {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;

    label {
      position: absolute;
      width: 430px;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
      transition: transform 0.5s ease;
    }
  }

  &__card {
    position: relative;
    height: 100%;
    background-color: #3a3737;
    border-radius: 10px;
    padding: 30px 35px;

    &--image {
      display: flex;
      justify-content: space-between;

      img {
        border-radius: 5px;
        box-shadow: 15px 15px 40px rgb(0, 0, 0, 50%);
        margin-top: 23px;
        width: 86%;
        height: 220px;
        object-fit: cover;
        transition: all 0.7s;
      }
      img:hover {
        transform: scale(1.05);
      }
    }
  }
}

//MEDIA

@media (min-width: 576px) {
  .nav {
    &__mobile {
      width: 500px;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1100px) {
  .nav {
    .burger-btn {
      display: none;
    }

    &__items {
      display: inline-block;
    }
  }
}
