*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

//nav

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10%;

  .burger-btn {
    position: relative;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: 1px solid transparent;
    z-index: 1000;
    cursor: pointer;

    // &:focus {
    //   outline: none;
    //   border: 1px solid rgba(255, 255, 255, 0.5);
    //   border-radius: 8px;
    // }

    &:hover {
      .burger-btn__bars::after,
      .burger-btn__bars::before {
        width: 100%;
      }
    }

    &__box {
      position: relative;
      width: 40px;
      height: 30px;
    }
    &__bars,
    &__bars::after,
    &__bars::before {
      position: absolute;
      left: 0;
      height: 3px;
      content: "";
      background-color: #da2a2a;
      transition: width 0.3s;
    }
    &__bars {
      width: 100%;
      &::after {
        top: 13px;
        width: 50%;
      }
      &::before {
        top: 27px;
        width: 30%;
      }
    }
  }

  &__items {
    display: none;
    position: relative;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__item {
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: #da2a2a;
    }
  }

  &__title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.8rem;
    text-transform: uppercase;
  }

  &__mobile {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-image: linear-gradient(45deg, rgb(39, 47, 59), rgb(32, 27, 59));
    z-index: 100;
    &--item {
      position: relative;
      display: block;
      margin: 0.5em 0;
      padding: 0.5em 2em;
      font-size: 2.8rem;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:hover {
        background-color: #da2a2a;
      }
    }
    &--active {
      transform: translateX(0);
    }
  }

  &--active {
    background-color: #3a3737b0;
    box-shadow: 0px 14px 24px -19px rgba(66, 68, 90, 1);
  }
}

//header

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  height: 100vh;

  &__video {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  &__blur {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #3a373736;
    z-index: -1;
  }

  &__text {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: white;
  }

  &__heading {
    font-size: 4.8rem;
    padding: 5px 10px;
    margin: 30px;
    background-color: #3a3737;
    color: white;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 20px;
    margin-bottom: 5em;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #da2a2a;
    cursor: pointer;
  }

  &__button:hover {
    color: #da2a2a;
    background-color: white;
  }
}

//skis

.skis {
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;

  .arrow {
    position: absolute;
    top: 200%;
    padding: 20px;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .arrow_prev {
    left: 5%;
  }

  .arrow_next {
    right: 5%;
  }

  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
  }

  &__heading {
    padding: 5px 10px;
    margin: 30px;
    font-size: 4.8rem;
    color: white;
    background-color: #3a3737;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    position: relative;
    margin: 30px;

    img {
      width: 100%;
    }
  }

  &__infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      padding: 10px 0;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    a {
      color: white;
      padding: 10px 30px;
      margin: 10px;
      font-size: 2.4rem;
      font-weight: 500;
      background-color: #da2a2a;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      background-color: black;
    }
  }
}

.section_line {
  position: relative;
  left: 50%;
  width: 80%;
  height: 2px;
  margin-top: 40px;
  transform: translate(-50%);
  background-color: black;
}

//OUR SKIS

.ourSkis {
  background-color: rgb(233, 230, 230);
  padding-bottom: 100px;
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
  }
  &__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 4.8rem;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__imgContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__left {
    margin: 40px;
    flex: 1;

    p {
      margin-bottom: 40px;
      font-size: 2.4rem;
      letter-spacing: 5px;
    }

    a {
      padding: 10px 30px;
      font-size: 2.4rem;
      color: white;
      background-color: #da2a2a;
      text-transform: uppercase;
      text-decoration: none;
    }

    a:hover {
      background-color: black;
    }
  }

  &__right {
    margin: 40px;
    flex: 2;
  }
  &__img {
    padding: 20px;
    width: 80vh;
    overflow: hidden;

    button {
      position: relative;
      bottom: 100px;
      left: -40px;
      padding: 10px 30px;
      font-size: 2.4rem;
      color: white;
      background-color: black;
      text-transform: uppercase;
      border: none;
    }
    &:hover button {
      background-color: #da2a2a;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
}

//team

.team {
  background-color: #3a3737;

  .wrapper {
    width: 100%;
    max-width: 1800px;
  }

  &__container {
    display: flex;
    height: 1000px;
  }
  &__left {
    width: 100%;
    height: 100%;
    background-image: url(/img/team.webp);
    background-size: cover;

    &--mobile {
      width: 100%;
      height: 100%;
      background-color: #3a37379d;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    h2 {
      font-size: 4.8rem;
      color: white;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    p {
      margin: 50px;
      color: white;
      font-size: 2.4rem;
      letter-spacing: 5px;
    }

    button {
      margin-top: 30px;
      padding: 10px 30px;
      font-size: 2.4rem;
      background-color: #da2a2a;
      color: white;
      border: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #da2a2a;
      }
    }
  }
}

//GALLERY

.gallery {
  padding: 100px 0;

  background-color: #3a3737;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    h2 {
      background-color: white;
      margin-bottom: 20px;
      font-size: 4.8rem;
      padding: 5px;
      text-transform: uppercase;
    }

    p {
      font-size: 2.4rem;
      letter-spacing: 5px;
      color: white;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
  }
  .big {
    height: 30%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 10px 0 10px;

    img {
      width: 100%;
      height: 100%;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__img-card {
    overflow: hidden;
    width: 100%;
    margin: 10px;
  }
}

//FOOTER

.footer {
  padding-top: 100px;
  background-color: black;
  color: white;

  &__information {
    padding: 50px;
    p {
      text-transform: uppercase;
      padding: 10px;

      &::before {
        position: relative;
        top: 20px;
        left: -20px;
        content: "";
        display: block;
        height: 20px;
        width: 2px;
        transform: rotate(30deg);
        background-color: #da2a2a;
      }
    }
  }

  &__social {
    padding: 30px;

    h2 {
      margin-bottom: 20px;
      font-size: 4.8rem;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 70px;
      letter-spacing: 3px;
    }

    a {
      padding: 10px;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__orders-details {
    display: flex;
    padding: 30px;

    p {
      padding: 20px 0;
      text-transform: uppercase;
    }

    &--left {
      flex: 1;
    }

    &--right {
      flex: 1;
    }
  }

  &__contact {
    padding: 30px;

    p {
      margin-bottom: 20px;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 5px 5px 10px;
      background: none;
      border: 1px solid #3a3737;
      font-size: 1.8rem;
      color: white;
    }
    &:focus {
      border: none;
    }
  }
}

//MEDIA

@media (min-width: 400px) {
  .skis {
    .arrow {
      top: 150%;
    }
  }
}

@media (min-width: 576px) {
  .nav {
    &__mobile {
      width: 500px;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .gallery {
    &__container {
      display: flex;
    }
  }
}

@media (min-width: 1100px) {
  .nav {
    .burger-btn {
      display: none;
    }

    &__items {
      display: inline-block;
    }
  }

  .ourSkis {
    &__container {
      flex-direction: row;
    }

    &__img {
      width: 45vh;
    }
  }

  .team {
    &__left {
      width: 50%;
      height: 100%;
      background-image: url(/img/team.webp);
      background-size: cover;

      &--mobile {
        display: none;
      }
    }

    &__right {
      display: block;
      position: static;
      width: 50%;
      margin: 300px 50px 0 50px;
    }

    h2 {
      font-size: 4.8rem;
      color: white;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    p {
      margin: 0;
      color: white;
      font-size: 2.4rem;
    }
  }
}
